<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!--<img src="/assets/images/audio.png" alt="" />-->
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right scroll-me">
                <ul class="nav navbar-nav ">
                    <li><a href="/#home">ACCUEIL</a></li>
                    <!--<li><a href="#services">SERVICES</a></li>-->
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#login">LOGIN</a></li>
                  <h1>COUCOU</h1>
                </ul>
            </div>
        </div>
    </div>
    <!-- NAVBAR CODE END -->
    <div id="home">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <h1>BUDDYCARE </h1>
                  <h2>A plusieurs c'est meilleur </h2>
                    <!--<p class="p-cls">-->
                  <br>
                  <br>
                        <h3>Voyagez moins cher grâce à BuddyCare, un site de covoiturage totalement gratuit pour trouver vos meilleures destinations</h3>
                  <br>
                  <p><a href="#login">REJOIGNEZ TOUT DE SUITE LA COMMUNAUTE</a></p>
                      
                </div>

            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
    <footer>
        © 2015 BuddyCare.com  | <a href="http://www.designbootstrap.com/" target="_blank">by DesignBootstrap</a>
    </footer>