    <!-- NAVBAR CODE END -->
    <div id="home">
      <div class="post">
		</div>
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <h1>BUDDYCAR </h1>
                  <h2>A plusieurs c'est meilleur </h2>
                    <!--<p class="p-cls">-->
                  <br>
                  <br>
                        <h3>Voyagez moins cher grâce à BuddyCar, un site de covoiturage totalement gratuit pour trouver vos meilleures destinations</h3>
                  <br>
                  <% if user_signed_in? %>
                  <p></p>
                  <% else %>
                  <p><%= link_to 'REJOIGNEZ TOUT DE SUITE LA COMMUNAUTE', new_user_registration_path %></p>
                  <%end%>

                </div>

            </div>
        </div>      

      
    </div>
    <!--HOME SECTION END  -->
    <footer>
        © 2015 BuddyCar.com  | <a href="http://www.designbootstrap.com/" target="_blank">by DesignBootstrap</a>
    </footer>