<div class="col-sm-9 col-sm-offset-1">
      <div class="row form-group">
        <div class="col-md-12">
        <h1>Contactez-nous</h1>        
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" id="firstName" name="name" placeholder="Votre nom">
        </div>
 
      <div class="row form-group">
          <div class="col-xs-5">
          <input type="text" class="form-control" name="email" placeholder="Votre e-mail">
          </div>
      </div>
      <div class="row form-group">
          <div class="col-xs-10">
            <textarea class="form-control" placeholder="Comments"></textarea>
          </div>
      </div>
      <div class="row form-group">
          <div class="col-xs-10">
            <button class="btn btn-default pull-right">Envoyer !</button>
          </div>
      </div>
    
  </div>
