<% if user_signed_in? %>
  <li><%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete) %></li>  
<% else %>
  <li><a href="#login" data-rel="popup3" class="poplight">Se connecter</a></li>
<% end %>