<% if user_signed_in? %>
  <!--<li><%= link_to('Edit registration', edit_user_registration_path) %> </li>-->
  <li><a href="#editRegistration" data-rel="popup3" class="poplight">Edit registration</a></li>
    
<% else %>
  
    <!--<li><%= link_to('Register', new_user_registration_path)  %></li>-->
    <li><a href="#registration" data-rel="popup3" class="poplight">Register</a></li>
  
<% end %>