<% if user_signed_in? %>
    <li><a href="/#editRegistration" data-rel="popup3" class="poplight">Editer profil</a></li>
<% else %>
    <li><a href="/#registration" data-rel="popup3" class="poplight">S'inscrire</a></li>
<% end %>